@media only screen and (min-width: 1920px) {
  /* For big desktop: */
  .bDesktop1 {width: 8.33%;}
  .bDesktop2 {width: 16.66%;}
  .bDesktop3 {width: 25%;}
  .bDesktop4 {width: 33.33%;}
  .bDesktop5 {width: 41.66%;}
  .bDesktop6 {width: 50%;}
  .bDesktop7 {width: 58.33%;}
  .bDesktop8 {width: 66.66%;}
  .bDesktop9 {width: 75%;}
  .bDesktop10 {width: 83.33%;}
  .bDesktop11 {width: 91.66%;}
  .bDesktop12 {width: 100%;}

  .burger {
    display: none;
  }

  .menuResp {
    display: none;
  }

  .autoText {
    font-size: 8rem;
  }

  .menuRespOut {
    display: none;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  /* For desktop: */
  .desktop1 {width: 8.33%;}
  .desktop2 {width: 16.66%;}
  .desktop3 {width: 25%;}
  .desktop4 {width: 33.33%;}
  .desktop5 {width: 41.66%;}
  .desktop6 {width: 50%;}
  .desktop7 {width: 58.33%;}
  .desktop8 {width: 66.66%;}
  .desktop9 {width: 75%;}
  .desktop10 {width: 83.33%;}
  .desktop11 {width: 91.66%;}
  .desktop12 {width: 100%;}

  .burger {
    display: none;
  }

  .menuResp {
    display: none;
  }

  .menuRespOut {
    display: none;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1279px) {
  /* For little desktop: */
  .lDesktop1 {width: 8.33%;}
  .lDesktop2 {width: 16.66%;}
  .lDesktop3 {width: 25%;}
  .lDesktop4 {width: 33.33%;}
  .lDesktop5 {width: 41.66%;}
  .lDesktop6 {width: 50%;}
  .lDesktop7 {width: 58.33%;}
  .lDesktop8 {width: 66.66%;}
  .lDesktop9 {width: 75%;}
  .lDesktop10 {width: 83.33%;}
  .lDesktop11 {width: 91.66%;}
  .lDesktop12 {width: 100%;}

  .burger {
    display: none;
  }

  .menuResp {
    display: none;
  }

  .autoText {
    font-size: 4.5rem;;
  }

  .screen {
    height: auto;
  }

  .container {
    margin: 10% 0;
  }

  .dlCv {
    right: 5%;
  }

  .menuRespOut {
    display: none;
  }
}

@media only screen and (min-width: 750px) and (max-width: 979px) {
  /* For big tablets: */
  .bTablet1 {width: 8.33%;}
  .bTablet2 {width: 16.66%;}
  .bTablet3 {width: 25%;}
  .bTablet4 {width: 33.33%;}
  .bTablet5 {width: 41.66%;}
  .bTablet6 {width: 50%;}
  .bTablet7 {width: 58.33%;}
  .bTablet8 {width: 66.66%;}
  .bTablet9 {width: 75%;}
  .bTablet10 {width: 83.33%;}
  .bTablet11 {width: 91.66%;}
  .bTablet12 {width: 100%;}

  .burger {
    display: none;
  }

  .menuResp {
    display: none;
  }

  .navHeader ul li {
    font-size: 1rem;
  }

  .navHeaderPortfolio ul li {
    font-size: 1rem;
  }

  .screen:not(:nth-child(1)) {
    height: auto;
  }

  .autoText {
    font-size: 5rem;
  }

  .container {
    margin: 10% 0;
  }

  .alignImg {
    display: flex;
    align-items: center;
  }

  .name,
  .subTitle {
    margin-bottom: 10%;
  }

  .indexInfos p {
    margin: 2% 0;
  }

  .dlCv {
    top: 15vh;
    width: 40%;
  }

  .menuRespOut {
    display: none;
  }
}

@media only screen and (min-width: 520px) and (max-width: 749px) {
  /* For little tablets: */
  .tablet1 {width: 8.33%;}
  .tablet2 {width: 16.66%;}
  .tablet3 {width: 25%;}
  .tablet4 {width: 33.33%;}
  .tablet5 {width: 41.66%;}
  .tablet6 {width: 50%;}
  .tablet7 {width: 58.33%;}
  .tablet8 {width: 66.66%;}
  .tablet9 {width: 75%;}
  .tablet10 {width: 83.33%;}
  .tablet11 {width: 91.66%;}
  .tablet12 {width: 100%;}

  .navHeader ul li:not(:nth-child(3)) {
    display: none;
  }

  .navHeader {
    justify-content: space-between;
    padding: 0 5%;
  }

  .navHeaderPortfolio ul li:not(:nth-child(3)) {
    display: none;
  }

  .navHeaderPortfolio {
    justify-content: space-between;
    padding: 0 5%;
  }

  .autoText {
    font-size: 4rem;
  }

  .screen {
    height: auto;
  }

  .container {
    margin: 10% 0;
  }

  .name,
  .subTitle {
    margin-bottom: 10%;
  }

  .indexInfos p {
    margin: 2% 0;
  }

  .order {
    order: 2;
  }

  .alignImg {
    margin: 10% 0;
  }

  .profil {
    position: static;
  }

  .navFooter div {
    display: none;
  }

  .navFooter ul {
    display: flex;
    justify-content: space-around;
    margin: 2% 0;
  }

  .navFooter {
    flex-wrap: wrap;
    padding: 2% 0;
  }

  .dlCv {
    top: 15vh;
    width: 40%;
  }

  .menuResp ul li {
    font-size: 2rem;
  }

  .reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease-in;
  }

  .revealTwo {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease-in;
  }

  .reveal-visible {
      opacity: 1;
      transform: translateY(0);
      transition: 1s ease-out;
  }
}

@media only screen and (min-width: 260px) and (max-width: 519px) {
  /* For mobile: */
  .phone1 {width: 8.33%;}
  .phone2 {width: 16.66%;}
  .phone3 {width: 25%;}
  .phone4 {width: 33.33%;}
  .phone5 {width: 41.66%;}
  .phone6 {width: 50%;}
  .phone7 {width: 58.33%;}
  .phone8 {width: 66.66%;}
  .phone9 {width: 75%;}
  .phone10 {width: 83.33%;}
  .phone11 {width: 91.66%;}
  .phone12 {width: 100%;}

  .navHeader ul li:not(:nth-child(3)) {
    display: none;
  }

  .navHeader {
    justify-content: space-between;
    padding: 0 5%;
  }

  .navHeaderPortfolio ul li:not(:nth-child(3)) {
    display: none;
  }

  .navHeaderPortfolio {
    justify-content: space-between;
    padding: 0 5%;
  }
  
  .autoText {
    font-size: 2rem;
  }

  .screen {
    height: auto;
  }

  .container {
    margin: 10% 0;
  }

  .name,
  .subTitle {
    margin-bottom: 10%;
  }

  .indexInfos p {
    margin: 2% 0;
  }

  .order {
    order: 2;
  }

  .alignImg {
    margin: 10% 0;
  }

  .profil {
    position: static;
  }

  .navFooter div {
    display: none;
  }

  .navFooter ul {
    display: flex;
    justify-content: space-around;
    margin: 2% 0;
  }

  .navFooter {
    flex-wrap: wrap;
    padding: 2% 0;
  }

  .dlCv {
    top: 15vh;
    width: 50%;
  }

  .reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease-in;
  }

  .revealTwo {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease-in;
  }

  .reveal-visible {
      opacity: 1;
      transform: translateY(0);
      transition: 1s ease-out;
  }
}

@media (orientation: landscape) and (min-width: 750px) and (max-width: 979px) {
  .navHeader {
    height: 18vh;
  }

  .bgImage {
    height: 82vh;
  }

  .navHeaderPortfolio {
    height: 18vh;
  }
}

@media (orientation: landscape) and (min-width: 520px) and (max-width: 749px) {
  .navHeader {
    height: 18vh;
  }

  .bgImage {
    height: 82vh;
  }

  .navHeaderPortfolio {
    height: 18vh;
  }
}

@media (orientation: landscape) and (min-width: 260px) and (max-width: 519px) {
  .navHeader {
    height: 18vh;
  }

  .navHeaderPortfolio {
    height: 18vh;
  }

  .bgImage {
    height: 82vh;
  }

  .navHeaderPortfolio {
    height: 18vh;
  }
}
